@tailwind base;
@tailwind components;
@tailwind utilities;

// Vertical Scrollbar width
::-webkit-scrollbar {
  width: 6px;
}

// Horizontal Scrollbar height
::-webkit-scrollbar:horizontal {
  height: 6px;
}

// Scrollbar Background
::-webkit-scrollbar-track {
  background: #e7e7e7;
}

// Movable Scrollbar
::-webkit-scrollbar-thumb {
  background: #707070;
}

// Movable Scrollbar on Hover
::-webkit-scrollbar-thumb:hover {
  background: #252627;
}

input {
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill,
  &:autofill {
    transition: background-color 600000s 0s, color 600000s 0s;
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    -webkit-text-fill-color: #000;
    background-color: transparent;
  }
}
